/* 				Выравнивание отдельного элемента в flex модели
Следующие свойства, которые мы с вами изучим, задаются уже не родителю флекс-элементов, а самим элементам. Давайте рассмотрим свойство aling-self, которое выраванивает отдельный блок по поперечной оси.

Пусть у нас есть флекс-блоки, выстроенные в ряд. Выровняем их по центру по вертикали, задав align-items в значении center, а второму элементу дадим дополнительный класс elem и для него зададим другое выравнивание, например, прижмем его к верхнему краю.

Для этого нашему элементу с классом elem установим свойство aling-self в значение flex-start: */

.wrapper{
	width: 900px;
	height: 400px;
	border: 1px solid red;
	margin: 10px auto;

	display: flex;
	flex-direction: row;
	/* Направление, в котором блоки будут располагаться в строку */

	justify-content: center;
	/* Выравнивание элементов по центру */

	align-items: center;
	/* Центрировать элементы в поперечной оси */


}

.elem{
	border: 1px solid green;
	width: 120px;
	/* height: 60px; */
}

.child{
	align-self: flex-end;
	/* помещает гибкий элемент в конец */
}

/* задача 2 */

.wrapper{
	display: flex;
	flex-direction: row;
	/* Направление, в котором блоки будут располагаться в строку */

	justify-content: center;
	/* Выравнивание элементов по центру */

	align-items: stretch;
	/* Растянуть предметы, чтобы соответствовать */

}


.elem{
	border: 1px solid green;
	width: 120px;
}

.child{
	align-self: center;
	/* помещает гибкий элемент в центр */

	width: 120px;
}


/* задача 3 */

.wrapper{
	display: flex;
	flex-direction: column;
	/* Направление, в котором блоки будут располагаться вертикально */

	
	justify-content: center;
	/* Выравнивание элементов по центру */


	align-items: flex-start;

}

.elem{
	width: 120px;
	height: 60px;
}

.child{
	align-self: center;
	/* помещает гибкий элемент в центр */
}